@{
    var personCard = ViewData["personCard"] as ticketApp.Models.Utility.PersonCard;
    var employees = ViewData["employees"] as List<ticketApp.Models.DBmodels.Employee>;
}
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.js"></script>

<div class="flex">
    <partial name="~/Views/Shared/Components/GridChart.cshtml" model="Model" />
    <partial name="~/Views/Shared/Components/PieChart.cshtml" model="Model" />
    <partial name="~/Views/Shared/Components/PersonCard.cshtml" model="personCard" />
</div>
@if (employees != null)
{
    <partial name="~/Views/Home/Employees.cshtml" model="employees" />
}
