<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
        class="bi bi-plus-circle-fill w-7 h-7 text-gray-500 dark:text-gray-400 mb-3" viewBox="0 0 16 16"></svg>
    <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
    </svg>
    <a href="tickets/create">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Create New Ticket</h5>
    </a>
</div>
